@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --cyan: hsl(179, 62%, 43%);
  --yellow: hsl(71, 73%, 54%);
  --gray: hsl(204, 43%, 93%);
  --blue: hsl(218, 22%, 67%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
}

body {
  font-size: 16px;
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray);
  height: 100vh;
}

.container {
  width: 625px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.top {
  background-color: #fff;
  padding: 2rem;
}

.top h2 {
  color: var(--cyan);
  margin-bottom: 1.5rem;
}

.top h3 {
  color: var(--yellow);
  margin-bottom: 1rem;
  font-weight: 700;
}

.top p {
  color: var(--blue);
  line-height: 1.6;
}

.bottom {
  display: flex;
}

.left {
  background-color: var(--cyan);
  flex: 1;
  padding: 2rem;
}

.left h3 {
  margin-bottom: 1.5rem;
}

.price {
  font-size: 34px;
  font-weight: 700;
  position: relative;
  margin-bottom: 0.7rem;
}

.price span {
  font-weight: 400;
  opacity: 0.6;
  font-size: 16px;
  position: absolute;
  top: 25%;
  margin-left: 0.6rem;
}

.left button {
  background-color: var(--yellow);
  margin-top: 2rem;
  width: 95%;
  padding: 0.8rem;
  font-size: 16px;
  color: var(--gray);
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.right {
  background-color: hsla(179, 62%, 43%, 0.8);
  flex: 1;
  padding: 2rem;
}

.right ul {
  margin-top: 1rem;
  list-style: none;
  line-height: 1.4;
  opacity: 0.9;
  font-weight: 400;
}

@media (max-width: 600px) {
  body {
    height: auto;
  }

  .container {
    width: 80%;
    margin: 2rem 0;
  }

  .bottom {
    flex-direction: column;
  }
}
